.content {
    /* height: calc(100dvh - 500px); */
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 40px 20px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .flex-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  
  .form {
    flex-direction: column !important;
  }
  
  .form label {
    width: 100%;
  }
  
  .form label>input, 
  .form label>textarea {
    width: 100%;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px 16px;
    margin-top: 16px;
    font-size: 16px;
  }
  
  .form label>textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .form>.btn-container {
    width: 100%;
    display: flex;
  }
  
  .form>.btn-container>button {
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    border: 1px solid #000;
    background-color: #fffdfd;
    font-size: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .flex-container {
      flex-direction: row;
    }
  
    .form>.btn-container {
      justify-content: flex-end;
    }
  
    .form>.btn-container>button {
      max-width: 288px;
      background-color: #a1c643;
    }
  }
  



@media (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    
}