@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .col-25,
    .col-75 {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.content {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.sugestao {
    /* margin-bottom: 20px; */
    padding: 15px;
    border: 1px solid #010101;
    border-bottom: 0.1px solid #010101;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.sugestao-titulo {
    font-weight: bold;
}

.sugestao-descricao {
    border: 1px solid #010101;
    border-top: 0.1px solid #010101;
    padding: 10px;
    text-align: center  ;
    border-radius: 0px 0px 15px 15px;
}

.center {
    justify-content: center;
    align-items: center;
}

em {
    font-weight: bold;
}