/* Header */

header {
  /* position: relative;
  padding-top: 10px;
  width: 100dvw; */

}

.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

nav {
  width: 100%;
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu{
  display: none;
}

.submenu-toggle{
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  nav {
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .menu .submenu a{
    color: #fffdfd;
  }

  .menu .submenu li{
    padding: .2rem;
  }
  
  .menu .submenu{
    top: 32px;
    position: absolute;
    z-index: 2;
    width: 250px;
    background: #3b5249;
    padding: 1rem;
    border-radius: 6px;
  }
}

.toggle-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.fa-solid {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
}

nav .logo {
  width: 72px;
  height: 66px;
}

@media screen and (min-width: 992px) {
  nav .logo {
    width: 91px;
    height: 84px;
  }
}

nav ul {
  display: none;
}

nav ul li {
  list-style: none;
}

@media screen and (min-width: 992px) {
  nav ul {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
  }

  nav ul li:first-child {
    font-weight: 600;
  }

  nav ul li:last-child {
    display: none;
  }
}

nav ul li a {
  text-decoration: none;
  color: #2a1a1f;
  font-size: 1rem;
}

nav ul li a:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.admin-link {
  text-decoration: none;
}

nav .admin-button {
  display: none;
}

@media screen and (min-width: 992px) {
  nav .admin-button {
    display: block;
    background-color: #3b5249;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  nav .admin-button:hover {
    opacity: 0.9;
    transition: 0.5s;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 1rem;
  top: 82px;
  width: 300px;
  background: #3b5249;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open{
  display: block;
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    display: none;
  }
}

.dropdown-menu li {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 12px 16px;
  margin-top: 4px;
  flex-direction: column;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #fffdfd;
  font-size: 1rem;
  opacity: 0.7;
  transition: 0.5s;
}

.submenu-toggle{
  text-decoration: none;
  color: #fffdfd;
  font-size: 1rem;
  opacity: 0.7;
  transition: 0.5s;
}

@media screen and (min-width: 992px) {
  .submenu-toggle{
    text-decoration: none;
    color: #2a1a1f;
    font-size: 1rem;
    opacity: 1;
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 700px;
  background: #3b5249;
  color: #fffdfd;
  padding: 1rem;
  width: 100%;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .logo {
  width: 72px;
  height: 66px;
}

.separator {
  width: 100%;
  height: 2px;
  background: #fffdfd;
  margin: 2rem 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-links div p {
  font-size: 1rem;
  font-weight: 600;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fffdfd;
  font-weight: 300;
}

.footer-links ul li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  footer {
    min-height: 420px;
  }

  .footer-container {
    align-items: start;
  }

  .separator {
    height: 1px;
  }

  .footer-container .logo {
    width: 91px;
    height: 84px;
  }

  .footer-links {
    flex-direction: row;
    gap: 5.625rem;
    align-items: flex-start;
  }

  .footer-links div {
    text-align: start;
  }

  .footer-links ul {
    text-align: start;
  }
}
