/* Conteúdo Todos os Alimentos */

.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px;
}

h1 {
  font-size: 1.5rem;
  color: #2a1a1f;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

/* Ranked Table */

.ranked-table {
  width: 100%;
  padding-bottom: 40px;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-top: 2rem;
  padding: 2rem;
}

table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  text-align: center;
}

.table-body {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  border-radius: 0.6rem;
  overflow: auto;
}

.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
  background-color: #0004;
  border-radius: 0.5rem;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #e2ebcbe0;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
